body {
	background-color: hsl(210, 60%, 25%);
}

.contentHolder {
	background-color: hsl(210, 60%, 40%);
	display: flex;
	justify-content: center;
	border-radius: 5px;
	margin: 100px;
	padding: 20px;
}

#ball_1 {
	margin: auto 25px;
	height: 200px;
	width:  200px;
	border-radius: 50%;
}
#ball_2 {
	margin: auto 25px;
	height: 200px;
	width:  200px;
	border-radius: 50%;
}
#ball_3 {
	margin: auto 25px;
	height: 200px;
	width:  200px;
	border-radius: 50%;
}
#ball_4 {
	margin: auto 25px;
	height: 200px;
	width:  200px;
	border-radius: 50%;
}
#ball_5 {
	margin: auto 25px;
	height: 200px;
	width:  200px;
	border-radius: 50%;
}
